@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

Image,
img {
  position: relative !important;
}

.slick-dots li button {
  transform: translateY(20px);
}

.slick-dots li button:before {
  color: #d9d9d9 !important;
  max-width: 12.8px;
  max-height: 12.8px;
  background: #d9d9d9;
  border-radius: 50%;
  opacity: 1 !important;
}

.slick-dots li.slick-active button:before {
  color: #ff9d00 !important;
  width: 12.8px;
  height: 12.8px;
  background: #ff9d00;
  border-radius: 50%;
  opacity: 1 !important;
}

.ellipseCustom {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
  text-overflow: ellipsis;
}